@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin h3 {
  line-height: 28px;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
:root{

  --el-color-primary: #00cdc4;
}